$black: #000;
$white: #fff;
$meteorite: #2b2b2b;
$golffusion: #ffb100;
$aspengold: #ffd662;
$antiquecrinoline: #dadbdd;
$coolgrey: #bbbbbb;
$charcoal: #575757;
$meringue: #faf3e3;
$pastelblue: #e4f4e9;
$nasturtium: #fe6347;
$windsurfer: #a6bee5;
$pirouette: #efc2e1;
$salsarosa: #f1ddd3;
$brightwhite: #f5f7f6;
$deeplagoon: #185e6f;

$btnPrimaryBackgroundColor: #2b2b2b;
$btnPrimaryTextColor: white;
$btnSecondaryBackgroundColor: white;
$btnSecondaryBackgroundHoverColor: rgba(0, 0, 0, 0.05);
$btnSecondaryTextColor: black;
$btnSecondaryBorderColor: #6f6f6f;
