@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;600;800&display=swap");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(245,247,246);
    background: linear-gradient(180deg, rgba(245,247,246,0.4009978991596639) 0%, rgba(245,247,246,0.30015756302521013) 27%, rgba(238,238,238,0.10407913165266103) 63%, rgba(255,255,255,1) 89%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}